*{
    box-sizing: border-box;
}
body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    margin: 40px 285px 30px 285px;
}
.cartaContainer{
    width: 1000px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}
.carta{
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin-right: 14px;
}